.NavbarHeader ul li{
    list-style-type: none;
    float: left;
    margin-left: 40px;
    cursor: pointer;
    color: gray;
}
.NavbarHeader .social-media{
    float: left;
    margin-top: -15px;
}
.NavbarHeader .social-media i{
    color: gray;
    margin-left: 30px;
    animation: 3s infinite ;
}
.NavbarHeader .social-media i:hover{
    color: red;
}
