.Navbar a {
    color: whitesmoke;
    text-decoration: none;
}
.Navbar a i {
    color: white;
    padding: 8px;
    margin-top: -10px;
    border-radius: 20px;  
    text-decoration: none;
}
.Navbar a img{
    height: 80px
}