.Youmaylike h4{
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}
.Youmaylike h4:first-of-type{
    border-bottom: 3px solid orangered ;
}
.Youmaylike .owl-theme .item{
    position: relative;
}
.Youmaylike .owl-theme .item img{
    height: 300px;
    width: 82%;
    margin: auto;
    cursor: pointer;
}
.Youmaylike .owl-theme .item span{
    color: #CEBD9C;
}
.Youmaylike .owl-theme .item p{
    color: #8F8B87;
}
.Youmaylike .owl-theme .item .add-to-cart{
    height: 40px;
    width: 80px;
    background-color: white;
    position: absolute;
    bottom: 100px;
    left: 140px;
    z-index: 9999;
    display: block;
    
}
.Youmaylike .owl-theme .item .add-to-cart div{
    float: left;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.Youmaylike .owl-theme .item .add-to-cart div:first-of-type{
    border-right: 1px solid #8F8B87;
}

.Youmaylike .owl-theme .item .add-to-cart div i {
   margin-left: 10px;
   margin-top: 10px;
}